*{
    margin: 0;
    padding: 0;

    body {
        width: 1280px;
        height: 3796px;
        font-family: Arial, Helvetica, sans-serif;
        font-family: Georgia, sans-serif;
        position: relative;
    }
}

.wrapper {
    width: 1200px;
    height: 60px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 40px;
    padding-top: 30px;


}

.header_navigation {
    padding-top: 16px;
    padding-bottom: 20px;
    margin-right: -9px;

}
.navigation {
    display: flex;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
}
.navigation_link {
    list-style: none;
    padding: 0 17px;
    cursor: pointer;
}





.start_screen {
    position: relative;
    width: 1280px;
    height: 908px; 
    background-image: url(images/start-screen-gradient-background.jpg);


}
.startscreen_content {
    width: 1200px;
    height: 728px;
    position: absolute;
    left: 40px;
    right: 40px;
    bottom: 0px;
    
    display: flex ;
    


}
.content {
    width: 460px;
    height: 322px;
    color: white;
    
    position: absolute;
    top: 163px;

}
h2 {
    width: 310px;
    height: 114px;
    font-size: 44px;
    font-weight: 400;
    line-height: 57.2px;
    
}
p {
    width: 460px;
    height: 156px;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    padding-top: 42px;
    font-family: Arial, Helvetica, sans-serif;

}
.button_primary {
    background-color: #f1cdb3;
    width: 207px;
    height: 52px;
    padding-top: 270px;
    padding: 15px 45px 15px 45px;
    gap: 10px;
    border-radius: 100px ;
    font-family: Georgia, sans-serif;
   font-size: 18px;
   font-weight: 400;
   line-height: 24px;
   letter-spacing: 6%;
   position: absolute;
   top: 270px;
    


}
.img_puppy {
    width: 698px;
    height: 728px;
    padding-left: 502px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.about {
    width: 1280px;
    height: 588px;
    position: relative;
   




}
.about_content {
    width: 1200px;
    height: 408px;
    position: absolute;
    top: 80px;
    left: 40px;
   
    display: flex;
    
    
 

}
.about_pets {
 width: 300px;
height: 408px;
padding-top: 0px;
padding-left: 175px;



    



}
.pets_content {
    width: 430px;
    height: 380px;
    
    position: absolute;
    left: 595px;
    top: 14px;

}
.about_content .pets_content h3 {
    width: 360px;
    height: 90px;
    font-weight: 400;
    font-size: 35px;
    line-height: 45.5px;
    letter-spacing: 2px;
    font-family: Georgia, sans-serif;
    color: #545454;
    
}

  .heading {
    width: 370px;
    height: 90px;

    }

 .about_content .pets_content p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    padding-top: 25px;
    color:#4C4C4C;
    line-height: 24px;
 }

 .subheading1 {
    width: 430px;
    height: 96px;
 }
 .subheading2 {
    width: 430px;
    height: 144px;
 }
    
.pets_wrapper {
    
    height: 877px;
    top: 1496px;
   
    gap: 0px;
    opacity: 0px;
    background-color: brown;
    padding-top: 80px;
    padding-left: 40px;
    
}
.pets_content1 {
    width: 1200px;
    height: 697px;
    
    background-color: #545454;

    

}
.pets_heading {
width: 400px;
height: 90px;

background-color: aqua;
color: #545454;
font-family: Georgia,  serif, sans-serif;
font-size: 35px;
line-height: 45.5px;
font-weight: 400;


gap: 0px;
opacity: 0px;

}
.slider {
width: 1200px;
height: 435px;
margin-top: 60px;
gap: 0px;
opacity: 0px;
background-color: thistle;
display: flex;
justify-content: space-between;
align-items: center;
}
.button_arrowleft {

}
.button_arrowright {

}
.primary {

}
.pet_img {
    height: 270px;
    width: 270px;
    border-radius: 9px;
}
.katrine {
    width: 270px;
    height: 435px;
    display: flex;
    flex-direction: column;
    
}
.jennifer {
    width: 270px;
    height: 435px;
  display: flex;
    flex-direction: column;  
    
}
.woody {
    width: 270px;
    height: 435px;
    display: flex;
    flex-direction: column;
    
}
.butt_pets {
    width: 187px;
    height: 52px;
    border-radius: 100px;
    border: 2px solid #f1cdb3;
}
.button_arrow {
    width: 52px;
    height: 52px;
    border-radius: 100px;
    border: 2px solid #f1cdb3;

}
.txt {
    font-size: 20px;
    font-weight: 400;
    line-height: 22.72px;
    
}