html {
    scroll-behavior: smooth;
}

*{
    margin: auto;
  

    body {
        
        font-family: Arial, Helvetica, sans-serif;
        font-family: Georgia, sans-serif;
        position: relative;
        

    }
}

.wrapper {
    width: 1200px;
    height: 60px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
}

.logo {
    margin: 0;
}

#menu__toggle {
    opacity: 0;
}

.header_navigation {
    padding-top: 0px;
    padding-bottom: 20px;
    padding-left: 70px;
    margin-right: -40px ;
    text-decoration: none ;
    margin-left: 400px;
}
.navigation {
    display: flex;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    list-style: none;
    text-decoration: none;
}

.navigation_link {
    list-style: none;
    padding: 0 17px;
    cursor: pointer;
    text-decoration: none;
    
}

.lnk1 {
    text-decoration: none;
    color: #B2B2B2;
}

.lnk1:hover {
    color: #f6f6f6;
    border-bottom: 2px solid #f1cdb3;
}

.start_screen {
    position: relative;
    width: 1280px;
    height: 908px; 
    background-image: url(images/start-screen-gradient-background.jpg);

}
.startscreen_content {
    width: 1200px;
    height: 728px;
    position: absolute;
    left: 40px;
    right: 40px;
    bottom: 0px;
    display: flex ;
}

.content {
    width: 460px;
    height: 322px;
    color: white;
    position: absolute;
    top: 163px;

}
h2 {
    width: 310px;
    height: 114px;
    font-size: 44px;
    font-weight: 400;
    line-height: 57.2px;
}

p {
    width: 460px;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    padding-top: 42px;
    font-family: Arial, Helvetica, sans-serif;

}

.headin {
    margin: 0;
}

.button_primary {
    background-color: #f1cdb3;
    width: 207px;
    height: 52px;
    padding-top: 270px;
    padding: 15px 45px 15px 45px;
    gap: 10px;
    border-radius: 100px ;
    border: #f1cdb3;
    font-family: Georgia, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 6%;
    position: absolute;
    top: 270px;
    letter-spacing: 0.5px;
    cursor: pointer;
}

.button_primary:hover {
    box-shadow:  0px 0px 10px #545454;
}
  
.button_prim {
    text-decoration: none;
    color: black;
}

.img_puppy {
    width: 698px;
    height: 728px;
    padding-left: 502px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.about {
    width: 1280px;
    height: 588px;
    position: relative;
    background-color: #ffffff;
}

.about_content {
    width: 1200px;
    height: 408px;
    position: absolute;
    top: 80px;
    left: 40px;
    display: flex;
}

.about_pets {
    width: 300px;
    height: 408px;
    padding-top: 0px;
    padding-left: 175px; 
    margin: 0;
}

.pets_content {
    width: 430px;
    height: 380px;
    margin-left: 120px ;

}

.about_content .pets_content h3 {
    width: 360px;
    height: 90px;
    font-weight: 400;
    font-size: 35px;
    line-height: 45.5px;
    letter-spacing: 2px;
    font-family: Georgia, sans-serif;
    color: #545454; 
}


.heading {
    width: 370px;
    height: 90px;
    margin: 0;
}

 .about_content .pets_content p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    padding-top: 25px;
    color:#4C4C4C;
    line-height: 24px;
 }

 .subheading1 {
    width: 430px;
    height: 96px;
 }
 .subheading2 {
    width: 430px;
    height: 144px;
 }
  .pets_sec {
    width: 1280px;
  }  

.pets_wrapper {
    width: 1280px;
    height: 796px;
    top: 1496px;
    gap: 0px;
    opacity: 0px;
    background-color: #f6f6f6;
    padding-top: 80px;
 
    
}
.pets_content1 {
    width: 1200px;
    height: 697px;
    margin-left: 0px;
}

.pets_heading {
width: 400px;
height: 90px;
text-align: center;
letter-spacing: 2px;
color: #545454;
font-family: Georgia,  serif, sans-serif;
font-size: 35px;
line-height: 45.5px;
font-weight: 400;
margin-left: 440px;
gap: 0px;
opacity: 0px;

}
.slider {
width: 1200px;
height: 435px;
margin-top: 60px;
gap: 0px;
opacity: 0px;
display: flex;
align-items: center;
padding-left: 40px;
}

.primary {
    width: 261px;
    height: 52px;
    border-radius: 100px;
    background-color: #f1cdb3;
    font-size: 17px;
    font-weight: 400;
    line-height: 22.1px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: #f1cdb3;
    margin: 60px 0px 60px 510px ;
    letter-spacing: 1px;
    cursor: pointer;
}
.primary:hover {
    box-shadow:  0px 0px 10px #545454;
}

.pet_img {
    height: 270px;
    width: 270px;
    border-radius: 9px;
}
.pet_img2 {
    height: 270px;
    width: 270px;
    border-radius: 9px;
}
.pet_img3 {
    height: 270px;
    width: 270px;
    border-radius: 9px;
}
.katrine {
    width: 270px;
    height: 435px;
    display: flex;
    flex-direction: column;
    margin-left: 78px;
    background-color: #fafafa;
    border-radius: 9px;
    
}
.popUpWoody {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1280px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0; 
    background-color: rgba(20, 20, 20, 0.3); 
}

.woodyPopCont {
    display: flex;
    width: 71%;
    height: 14%;
    border-radius: 10px;
    
    background: #fafafa;
}
.imgPopWoody {
    border-radius: 10px;
}
.closeWoodyButt {
    width: 57px;
    height: 57px;
    padding-top: 2px;
    margin-top: 10px;
    position: absolute;
    right: 195px;
    border: 2px solid #f1cdb3;
    border-radius: 100px;
    color: #292929;
    cursor: pointer; 
}

.hiddenWoody {
    visibility: hidden;
}
.popUpKatrine {
   display: flex;
    align-items: center;
    justify-content: center;
    width: 1280px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0; 
    
    background-color: rgba(20, 20, 20, 0.3); 
}
.katrinePopCont {
    display: flex;
    width: 900px;
    height: 14%;
    border-radius: 10px;
    margin: 0;
    background: #fafafa;
}
.popUpJennifer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1280px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(20, 20, 20, 0.3); 
}
.popJen {
    padding: 50px 0px 0px 0px;
}
.imgPopKatt {
    border-radius: 10px;
}
.hiddenKatrine {
    visibility: hidden;
}
.closeKatrineButt {
     width: 57px;
    height: 57px;
    padding-top: 2px;
    margin-top: 10px;
    position: absolute; 
    right: 195px;
    border: 2px solid #f1cdb3;
    border-radius: 100px;
    color: #292929;
    cursor: pointer;  
}

.close {
    width: 57px;
    height: 57px;
    padding-top: 2px;
    margin-top: 10px;
    position: absolute;
    right: 195px;
    border: 2px solid #f1cdb3;
    border-radius: 100px;
    color: #292929;
    cursor: pointer;  
}
.hidden {
    visibility: hidden;
}

.jenPopCont {
    display: flex;
    width: 71%;
    height: 14%;
    border-radius: 10px;
    background: #fafafa;
    
}
.poph3 {
font-size: 35px;
font-family: Georgia, 'Times New Roman', Times, serif;
font-weight: 400;
}
.poph4 {
font-size: 20px;
line-height: 23px;
font-weight: 400;
font-family: Georgia, 'Times New Roman', Times, serif;
padding-top: 10px;

}
.poph5 {
    width: 350px;
font-size: 15px;
font-weight: 400;
line-height: 16px;
padding-top: 40px;

}
.popul {
    padding-top: 40px;
}
.popli {
    font-size: 15px;
    line-height: 16px;
    font-weight: 400;
    padding-top: 10px;
}

li::marker {
    color: #f1cdb3;
}

.jennifer {
    width: 270px;
    height: 435px;
    display: flex;
    flex-direction: column;  
    margin-left: 78px;
    background-color: #fafafa;
    border-radius: 9px;
}

.jennifer:hover {
    box-shadow:  0px 0px 10px #545454;
}
.woody {
    width: 270px;
    height: 435px;
    display: flex;
    flex-direction: column;
    margin-left: 78px;
    background-color: #fafafa;
    border-radius: 9px;  
}
.woody:hover {
    box-shadow:  0px 0px 10px #545454;
}

.katrine:hover {
    box-shadow:  0px 0px 10px #545454;
}
.butt_pets {
    width: 187px;
    height: 52px;
    border-radius: 100px;
    border: 2px solid #f1cdb3;
    font-family: Georgia, 'Times New Roman', Times, serif ;
    font-weight: 400;
    font-size: 17px;
    line-height: 22.1px;
    margin-left: 41px;
    letter-spacing: 1px;
    padding-top: 1px;
    background-color: #fafafa;
    cursor: pointer;
 
}
.butt_pets2 {
    width: 187px;
    height: 52px;
    border-radius: 100px;
    border: 2px solid #f1cdb3;
    font-family: Georgia, 'Times New Roman', Times, serif ;
    font-weight: 400;
    font-size: 17px;
    line-height: 22.1px;
    margin-left: 41px;
    letter-spacing: 1px;
    padding-top: 1px;
    background-color: #fafafa;
   cursor: pointer;

}
.butt_pets3 {
    width: 187px;
    height: 52px;
    border-radius: 100px;
    border: 2px solid #f1cdb3;
    font-family: Georgia, 'Times New Roman', Times, serif ;
    font-weight: 400;
    font-size: 17px;
    line-height: 22.1px;
    margin-left: 41px;
    letter-spacing: 1px;
    padding-top: 1px;
    background-color: #fafafa;
    cursor: pointer;   
}

.butt_pets:hover {
    background-color: #f1cdb3;
    box-shadow:  5px 5px 5px #545454;
}
.butt_pets2:hover {
    background-color: #f1cdb3;
    box-shadow:  5px 5px 5px #545454;
}
.butt_pets3:hover {
    background-color: #f1cdb3;
    box-shadow:  5px 5px 5px #545454;
}
.button_arrow {
    width: 52px;
    height: 52px;
    cursor: pointer;
    border-radius: 100px;
    border: 2px solid #f1cdb3;
    font-size: 15px;
    font-weight: 600;
    background-color: #fafafa
}
.button_arrow2 {
    width: 52px;
    height: 52px;
    cursor: pointer;
    border-radius: 100px;
    border: 2px solid #f1cdb3;
    margin-left: 53px;
    font-size: 15px;
    font-weight: 600;
    background-color: #fafafa 
}

.button_arrow:hover {
    box-shadow:  0px 0px 10px #545454;
}

.button_arrow2:hover {
    box-shadow:  0px 0px 10px #545454;
}

.cardSlider {
    display: flex;
}
.get_but {
    text-decoration: none;
    color: black;
}

.txt {
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 22.75px;
    padding: 30px 98px;
  
    
}
.txt2 {
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 22.75px;
    padding: 30px 94px;  
}
.txt3 {
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 22.75px;
    padding: 30px 101px; 
}
.help_sec {
    width: 1280px;
}
.wrapper_help {
    width: 1280px;
    height: 611px;
    display: flex;
    align-items: center;
    background-color: #ffffff;
}
.help_content {
    width: 1200px;
    height: 431px;
    margin-left: 40px;
    display: flex;
    align-items: center;
    flex-direction: column;

}
.heading_help {
    width: 308px;
    height: 90px;
    text-align: center;
    letter-spacing: 1.98px;
    font-weight: 400;
    font-size: 35px;
    line-height: 45.5px;
    color: #545454;  
}

.list {
    width: 1026px;
    height: 281px;
    top: 150px;
    left: 87px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    margin-top: 60px;
}

.help_cont1 {
    width: 82px;
    height: 113px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}

.help_img1 {
    width: 60px;
    height: 60px;
    padding-left: 11px;

}
.txt_help1 {
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 1.1px;
    margin-bottom: 30px;
    padding-top: 30px;
}

.help_cont2 {
    width: 150px;
    height: 113px;
    margin-left: 120px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between; 
   
}
.help_img2 {
    width: 60px;
    height: 60px;
    padding-left: 45px;
}
.txt_help2 {
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 1.2px;
    padding-top: 30px; 
}

.help_cont3 {
    width: 60px;
    height: 113px;
    margin-left: 120px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;  
}
.help_img3 {
    width: 60px;
    height: 60px;
    
}
.txt_help3 {
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 1px;
    padding-left: 7px;
}

.help_cont4 {
    width: 153px;
    height: 113px;
    margin-left: 120px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}
.help_img4 {
    width: 60px;
    height: 60px;
    padding-left: 47px;
}
.txt_help4 {
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 1.16px;
}


.help_cont5 {
    width: 101px;
    height: 113px;
    margin-left: 120px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between; 
}
.help_img5 {
    width: 60px;
    height: 60px;
    padding-left: 21px;
}
.txt_help5 {
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 1.2px;
}


.help_cont6 {
    width: 89px;
    height: 113px;
    margin-left: 84px; 
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;  
}
.help_img6 {
    width: 60px;
    height: 60px;
    padding-left: 14px;
}
.txt_help6 {
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 1.2px;
}

.help_cont7 {
    width: 101px;
    height: 113px;
    margin-left: 120px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between; 
}
.help_img7 {
    width: 60px;
    height: 60px;
    padding-left: 21px;
}
.txt_help7 {
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 1.2px;
}

.help_cont8 {
    width: 165px;
    height: 113px;
    margin-left: 120px; 
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;  
}
.help_img8 {
    width: 60px;
    height: 60px;
    padding-left: 53px;
}
.txt_help8 {
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 1.17px;
}

.help_cont9 {
    width: 143px;
    height: 113px;
    margin-left: 120px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;  
}
.help_img9 {
    width: 60px;
    height: 60px;
    padding-left: 42px;
}
.txt_help9 {
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 1.14px;
}

.don_sec {
    width: 1280px;
}
.wrapper_don{
    width: 1280px;
    height: 462px;
    display: flex;
    justify-content: center;
    background-color: #f6f6f6;
    
}
.don_content {
    width: 915px;
    height: 282px;
    margin-top: 80px;
    display: flex;
}

.donation_dog {
    width: 505px;
    height: 261px;
    padding: 11px 0px;
    
}
.donation_info {
    padding: 0 30px;
}

.heading_donation {
    width: 300px;
    height: 90px;
    font-weight: 400;
    font-size: 35px;
    line-height: 45.5px;
    letter-spacing: 2px;
    color: #545454;
}

.subheading_donation {
    width: 307px;
    height: 17px;
    margin-top: 21px;
    font-weight: 400;
    font-size: 15px;
    line-height: 16.5px;
    letter-spacing: 0.87px;
    color: #545454;
}
.card {
    width:349px;
    height:43px;
    margin: 17px 0px;
    border-radius: 9px;
    background-color: #f1cdb3;  
}
.card_img {
    margin:  10px 15px;    
}

.card_number {
    width: 273px;
    height: 18px;
    margin: 11px -3px ;   
}

.donation_text {
    width: 380px;
    height: 72px;
    padding:  4px 0px 0px 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.01px;
    color:#B2B2B2;  
}

.footer_sec {
    width: 1280px;
}

.wrapper_footer {
    width: 1280px;
    background-image: url(images/footer-background.png);
    padding-top: 40px;
    padding-left: 0px;
}

.footer_content {
    width: 1200px;
    font: 310px;
    display: flex;
    justify-content: space-between;
    margin-left: 40px;
}

.footer_contacts {
    width: 278px;
    height: 234px;
    margin: 16px 160px 60px 0px;
}

.footer_txt {
    font-size: 35px;
    line-height: 45.5px;
    letter-spacing: 2px;
    font-weight: 400;
    color: white;
}
.footer_locations {
    width: 302px;
    height: 234px;
    margin: 16px 160px 60px 0px;
} 

.email {
    display: flex;
    align-items: center;
    padding: 40px 27px 40px 0px;
}

.email_adr:hover {
    text-shadow:  0px 0px 10px black;
}

.email_img {
    width: 40px;
    height: 32px;
}

.email_adr {
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 1.2px;
    font-weight: 400;
    color: #f1cdb3;
    padding-left: 20px;
    cursor: pointer;
    text-decoration: none;
}

.phone {
    display: flex;
}

.phone_img {
    width: 40px;
    height: 32px;  
}

.phone_number {
    width: 177px;
    height: 19px;
    padding: 7px 21px;
}

.footer_puppy {
    width: 300px;
    height: 310px;
}

.location {
    display: flex;
    align-items: center;  
}

.loc_txt {
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 1.2px;
    font-weight: 400;
    color: #f1cdb3; 
    padding: 33px 5px 0px 20px;  
}

.loc_img {
    width: 22px;
    height: 32px;
    padding-top: 30px;
}

.loc_txt2 {
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 1.2px;
    font-weight: 400;
    color: #f1cdb3; 
    margin-top: 33px;
    margin-right: 13px;
       
}
.loc_img2 {
    width: 22px;
    height: 32px;
    padding-top: 32px;
    padding-right: 20px;
}

.popUp {
left: 0;
right: 0;
}

.primary {
    transform: translateX(15px);
}

@media screen and (max-width: 768px) {
    
    .start_screen {
        width: 768px;
        height: 1165px;
        background-image: url(images/start-screen-gradient-background.png);
    }

    .wrapper {
        width: 708px;
        height: 60px;
    }

    .logo {
        margin-top: 4px;
        margin-left: -10px;
    }

    .header_navigation {
        margin-left: 0;
        padding-left: 0px;
    }

    .navigation_link {
        padding: 0 18px;
    }

    .startscreen_content {
        width: 639px;
        height: 1015px;
        padding-left: 70px;
        
        
        display: flex;
        flex-direction: column; 
    }

    .content{
      margin-top: -162px; 
      margin-left: 44px; 
    }

    .button_primary {
        margin-left: 125px; 
    }
    
.img_puppy {
    width: 569px;
    height: 593px;
    padding-left: 59px;
    padding-top: 422px;
}

.img_puppyA {
    width: 569px;
    height: 593px;
}

.about {
    width: 768px;
    height: 1048px;  
}

.about_content {
    width: 437px;
    height: 868px;
    padding-left: 120px;
    display: flex;
    flex-direction: column-reverse;
}

.about_pets {
    width: 300px;
    height: 408px;
    padding-left: 74px;
}

.pets_content {
     margin-left: 15px; 
     margin-right: 0px;
}

.pets_wrapper {
   width: 768px;
   padding-left: 0px; 
   display: flex;
   justify-content: center;  
}

.pets_content1 {
    width: 708px;
    margin-right: 0px;
    
}

.slider {
    width: 708px; 
    padding: 0;
}
.button_arrow {
   margin-left: 0px; 
   padding: 0px;
}

.primary {
    transform: translateX(-10px);
}
.button_arrow2 {
    margin-left: 14px;
    padding: 0px;
}
.katrine {
    margin-left: 22px;
}
.popUpKatrine {
    width: 768px;
}

.katrinePopCont {
    width: 682px;
    height: 482px;
}
.imgPopKatt {
    width: 350px;
    height: 350px;
}

.closeKatrineButt {
    right: 56px;
}
.popJen {
    width: 310px;
}
.poph3 {
font-size: 35px;
line-height: 45px;
}
.poph4 {
font-size: 20px;
line-height: 23px;
}

.poph5 {
    width: 280px;
font-size: 13px;
line-height: 14px;
letter-spacing: 0.4px;
}
.jennifer {
   margin-left: 22px; 
}
.popUpJennifer {
    width: 768px;
}
.jenPopCont {
   width: 682px;
    height: 482px; 
}
.imgPopJenn {
    width: 350px;
    height: 350px;
}
.close {
    right: 56px;
}
.primary {
    margin-left: 223px;
}

.pets_heading {
    margin-left: 155px;
}
.cardSlider {
    width: 90%;
    overflow: hidden;
}

.woody { 
    margin-left: 22px;
}

.popUpWoody {
    width: 768px;
}
.woodyPopCont {
   width: 682px;
    height: 482px; 
}
.imgPopWoody {
    width: 350px;
    height: 350px;
}
.closeWoodyButt {
    right: 56px;
}

.wrapper_help {
    width: 768px;
    height: 779px;
    display: flex;
    justify-content: center; 
}

.help_content {
    width: 630px;
    height: 599px;
    margin: 80px 69px 100px 69px;

}

.list {
    width: 630px;
    height: 449px;
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(3, 170px);
    grid-template-rows: repeat(3, 113px) ;
    margin-top: 59px;  
}

.help_cont1 {
    margin-left: 44px;
}

.help_cont2 {
    margin-left: 9px;
}
.help_cont3 {
    margin-left: 55px;
}
.help_cont4 {
    margin-left: 8px;
}
.help_cont5 {
    margin-left: 34px;
}
.help_cont6 {
    margin-left: 40px;
}
.help_cont7 {
    margin-left: 34px;
}
.help_cont8 {
    margin-left: 2px;
}
.help_cont9 {
    margin-left: 13px;
}


.wrapper_don {
    width: 768px;
    height: 783px;
}

.don_content {
    display: flex;
    flex-flow: column-reverse;
    justify-content: flex-end;
}
.donation_info {
    margin-top: 2px;
    margin-left: 164px;
}

.donation_dog {
    margin-top: 49px;
    margin-left: 131px;
}

.wrapper_footer {
    width: 768px;
    height: 639px;
   padding: 0px;
   background-image: url(images/footer-gradient-background.png);

}

.footer_content {
    width: 708px;
    display: grid;
    grid-template-columns: 278px 302px ;
    grid-template-rows: repeat(2, 290px);
    grid-row-gap: 35px ;
    grid-column-gap: 10px;
    margin-left: 30px;
}

.footer_contacts {
    margin: 31px 10px 10px 35px;
}

.footer_locations {
    margin: 31px 10px 10px -33px;
}

.footer_puppy {
    margin-left: 205px;
    margin-top: 4px;
}

.pets_sec {
    width: 768px;
}
.help_sec {
    width: 768px;
}
.don_sec {
    width: 768px;
}
.footer_sec {
    width: 768px;
}
#menu__toggle {
    opacity: 0;
}
}

@media screen and (max-width: 320px) {

.header_navigation {
    width: 320px;
    height: 823px;
    margin-left: -209px;
    z-index: 1;
 }
 
#menu__toggle {
  opacity: 0;
  
}
.menu__btn {
  display: flex; 
  align-items: center;  
  position: fixed;
  top: 50px;
  left: 270px;
  width: 30px;
  height: 22px;
  cursor: pointer;
  z-index: 2;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #f1cdb3;
}
.menu__btn > span::before {
  content: '';
  top: -10px;
}
.menu__btn > span::after {
  content: '';
  top: 10px;
}

.header_navigation {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  padding: 0;
  width: 320px;
  height: 823px;
  margin: 0;

  list-style: none;
  text-align: center;
  background-color: #292929;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
}

.navigation_link {
  display: block;
  padding: 34px 24px;
  color: #333;
  
  font-size: 32px;
  font-weight: 400;
  text-decoration: none;
}


#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .header_navigation {
  visibility: visible;
  left: 0;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  transition-duration: .25s;
}
.header_navigation {
  transition-duration: .25s;
}
.navigation_link {
  transition-duration: .25s;
}

.navigation {
    height: 823px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
}

.start_screen {
    width: 320px;
    height: 823px;
    background-image: url(images/start-screen-mobile.jpg);
}
.wrapper {
    width: 280px;
    height: 60px;
    padding: 32px 20px;
}
.logo {
    margin-top: 0px;
    margin-left: 0px;  
}
.startscreen_content {
    width: 300px;
    height: 673px;
    padding: 0px;
    left: 0;
}
.content {
    width: 300px;
    height: 296px;
    margin: 0;
    display: flex;
    flex-direction: column;
    margin-top: -163px;
    margin-left: 10px;  
}

.headin {
    width: 300px;
    height: 64px;
    font-weight: 400;
    font-size: 25px;
    line-height: 32.5px;
    text-align: center;
    letter-spacing: 1.5px;
    visibility: hidden;
}

.subheading {
width: 300px;
height: 96px;
font-size: 15px;
line-height: 24px;
text-align: center;
color: #cdcdcd;
font-weight: 400;
padding: 0;
margin-top: 42.5px;
visibility: hidden;
}

.button_primary {
    margin-left: 46px;
    margin-top: -27px;
}
.img_puppy {
width: 260px;
height: 271px;
padding-top: 401px;
padding-left: 50px;
}

.img_puppyA {
    width: 260px;
    height: 271px;
}
.about {
   width: 320px;
   height: 974px;
}
.about_content {
    width: 300px;
    height: 494px;
    padding: 0;
    position: absolute;
    top: 353px;
    left: 10px;
}

.about_pets {
    width: 260px;
    height: 353.6px;
    padding: 0;
}

.about-petsA {
    width: 260px;
    height: 353.6px;
    padding: 85px 0px 42px 30px;
}

.pets_content {
    width: 300px;
    height: 494px;
    margin: 0;
}
.pets_content1 {
    margin: 0;
}

.about_content .pets_content h3 {
    width: 300px;
    height: 64px;
    font-size: 25px;
    font-weight: 400;
    line-height: 32.5px;
    margin-left: -45px;
    letter-spacing: 1.5px;
    text-align: center;
    margin: 28px 0px 0px -13px;
}

.subheading1 {
    width: 270px;
    height: 144px;
    font-size: 15px;
    line-height: 24px;
    text-align: justify;
}

.subheading2 {
    width: 270px;
    height: 239px;
    font-size: 15px;
    line-height: 24px;
    text-align: justify;
    margin-top: -2px;
}
.woody {
    margin-left: 0px; 
}

.popUpWoody {
    width: 320px;
}
.woodyPopCont {
    width: 271px;
    height: 393px;
    
}
.imgPopWoody {
    display: none;
}

.closeWoodyButt {
    width: 42px;
    height: 42px;
    right: 20px;
}
.jennifer {
    
    margin-left: 0px;
}

.popUpJennifer {
    width: 320px;
}

.jenPopCont {
    width: 271px;
    height: 393px;
}

.imgPopJenn {
    display: none ;
}

.close {
    width: 42px;
    height: 42px;
    right: 14px;  
}

.cardSlider {
    width: 100%;
    margin-left: 10px;
}
.katrine {
    width: 270px;
    height: 435px;
    margin-left: 0px;
    
}
.popUpKatrine {
    width: 320px;
}
.katrinePopCont {
    width: 271px;
    height: 393px;
    
}
.imgPopKatt {
    display: none;
}

.closeKatrineButt {
    width: 42px;
    height: 42px;
    right: 20px;
}
.popJen {
    width: 310px;
    padding-top: 10px;  
}

.popCont {
    transform: translateY(-150px);
}

.poph3 {
    font-size: 35px;
    line-height: 45px;
    text-align: center;
}

.poph4 {
    font-size: 20px;
    line-height: 23px;
    text-align: center;
}

.poph5 {
    width: 250px;
    font-size: 13px;
    line-height: 14px;
    letter-spacing: 0.4px;
    text-align: justify;
    padding-left: 10px;
}

.pets_sec {
width: 320px;
height: 791px;
}

.pets_wrapper {
width: 320px;
height: 791px;
padding: 0;
}

.pets_content1 {
width: 300px;
height: 707px;
}
.slider {
    width: 270px;
    height: 507px;
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
    margin: 37px 0px 10px 10px; 
}

.pets_heading {
  width: 300px;
  height: 64px;
  font-size: 25px;
  line-height: 32px;
  letter-spacing: 1.5px;
  margin-left: 1px;
  margin-top: 42px;
}


.button_arrow {
order: 2;
margin: -1px 0px -16px 17px;
}

.button_arrow2 {
order: 3;
margin: 4px -7px -10px 6px;
}

.primary {
margin: 38px 0px 0px 30px;
}
.help_sec {
width: 320px;
height: 745px;
}

.wrapper_help {
width: 320px;
height: 745px;

}
.help_content {
width: 290px;
height: 663px;
margin: 0;
}
.heading_help {
width: 220px;
height: 64px;
font-size: 25px;
line-height: 32.5px;
letter-spacing: 1.4px;
text-align: center;
margin-top: 2px;
}
.list {
width: 290px;
height: 555px;
display: flex;
justify-content: space-between;
margin-top: 42px;
}

.help_cont1, 
    .help_cont2,
    .help_cont3,
    .help_cont4,
    .help_cont5,
    .help_cont6,
    .help_cont7,
    .help_cont8,
    .help_cont9 {
        width: 130px;
        height: 87px;
        margin-left: 0px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-content:  center;
    }

.help_img1,
.help_img2,
.help_img3,
.help_img4,
.help_img5,
.help_img6,
.help_img7,
.help_img8,
.help_img9 {
width: 50px;
height: 50px;
padding: 0;


}
.txt_help1,
.txt_help2,
.txt_help3,
.txt_help4,
.txt_help5,
.txt_help6,
.txt_help7,
.txt_help8,
.txt_help9 {
font-size: 15px;
line-height: 16.5px;
padding: 0px;
margin: 0;
}

.don_content {
    margin-top: 0px;
}

.help_img1 {
    margin-left: 5px;
}

.help_img2 {
    margin-left: 32px;
}

.help_img4 {
    margin-left: 35px;
}
.help_img5 {
    margin-left: 14px;
}

.help_img6 {
    margin-left: 9px;
}

.help_img7 {
    margin-left: 14px;
}

.help_img8 {
    margin-left: 39px;
}
.help_img9 {
    margin-left: 30px;
}

.txt_help3 {
    margin-left: 7px;
}

.don_sec {
    width: 300px; 
    height: 542px;
    margin: 0;

}
.wrapper_don {
    width: 320px; 
    height: 542px;
    margin: 0;
}
.don_content {
    width: 320px;
    height: 510px;
}
.donation_dog {
    width: 260px;
    height: 135.2px;
    margin: 0;
    padding: 84px 5px 5px 30px;
}
.donation_info {
    width: 300px;
    height: 281px;
    margin: 0;
    padding: 0;
}
.heading_donation {
    height: 64px;
    width: 300px;
    font-size: 25px;
    line-height: 32.5px;
    text-align: center;
    letter-spacing: 1.4px;
    margin: 42px 0px 10px 10px;

}
.subheading_donation {
    width: 273px;
    height: 24px;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 0px;
    margin: 20px 0px 0px 23px;
}
.card {
    width: 281px;
    height: 43px;
    margin: 20px 2px 2px 20px;
}

.card_number {
    width: 206px;
    height: 17px;
    margin: 11px -6px;
}

.donation_text {
    width: 280px;
    height: 90px;
    font-size: 12px;
    line-height: 18px;
    text-align: justify;
    padding: 0;
    margin: 20px;
    margin-right: 0;
}

.footer_sec {
    width: 320px;
    height: 809px;
}

.wrapper_footer {
    width: 320px;
    height: 809px;
    background-image: url(images/Footer-mobile.png);
}

.footer_content {
    width: 300px;
    height: 470px;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.footer_contacts {
    margin: 30px 17px 10px 22px;
}

.footer_txt {
    letter-spacing: 1.5px;
    visibility: hidden;
}

.email {
    padding: 39px 27px 40px 11px;
}
.email_img {
    visibility: hidden;
}

.email_adr {
    visibility: hidden;
}

.phone {
    padding-left: 18px;
}

.phone_img {
    visibility: hidden;
}
.phone_number {
    margin: 0;
    padding: 9px 22px 7px 21px;
}

.footer_locations {
    width: 300px;
    height: 222px;
    margin: -5px 0px 0px 9px;
}

.footer_txt {
    width: 278px;
    height: 64px;
    font-size: 25px;
    line-height: 32.5px;
    text-align: center;
    letter-spacing: 1.5px;
}

.f_txt {
    visibility: hidden;
}
.location {
    padding: 0;

}

.loc_img {
    width: 21.85px;
    height: 32px;
    padding: 39px 0px 0px 0px;
    visibility: hidden;
}

.loc_txt {
font-size: 20px;
line-height: 23px;
padding: 40px 5px 0px 20px;
visibility: hidden;
}

.loc_img2 {
width: 21.85px;
height: 32px;
padding: 39px 20px 0px 0px;
visibility: hidden;
}

.loc_txt2 {
visibility: hidden;
margin: 41px 13px 0px 0px;
}

.footer_puppy {
    width: 260px; 
    height: 269px;
    margin: 4px 0px 0px 30px;
}
.f_txt {
    margin-left: 12px;
    letter-spacing: 1.5p;
}

}